
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

header{
    display: flex;
    background-color: rgba(251,251,253, 0.8);

}
#globalnav{
    max-height: 44px;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;

}
body{
    font-weight: 400;
    font-family:'Roboto', sans-serif;
    color: rgb(29, 29, 31);
    padding: 0;
    margin: 0;

}
nav li{
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

}
.logo{
    margin-right:2px;
}
nav{
    display: flex;
    text-align: center;
}
.text{
    text-align: center;
    justify-content: center;
    color: azure;
    background-color: transparent;
    padding-top: 10px;
    
}
section{
    padding-bottom: 10px;
}
.sekcja1{
    
    background-image: url(hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
    height: 692px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 692px;
}
.sekcja1 h2{
    font-style: 300;
    font-size: 55px;
    margin-bottom: 0;
}
.sekcja1 h3{
    font-weight: 300;
    font-style: 300;
    font-size: 25px;
    margin-top: 0;
}
.sekcja1 h4{
    font-weight: 300;
   font-style: 300;
   font-size: 20px;
   margin-top: 0;
   margin-right: 30px;
   color: dodgerblue;
}
.sekcja1 h4:hover{
    text-decoration: underline;
    
}
.divt{
    display: flex;
    justify-content: center;
}
.divt:only-child{
    width: max-content;
    padding-right: 50px;
}

.sekcja2{
    
    background-image: url(hero_iphone15_announce__uuemlcwczn6u_largetall.jpg);
    height: 692px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 692px;
   
}
.sekcja2 h2{
    font-style: 300;
    font-size: 55px;
    margin-bottom: 0;
    color: black;
}
.sekcja2 h3{
    font-weight: 300;
    font-style: 300;
    font-size: 25px;
    margin-top: 0;
    color: black;
}
.sekcja2 h4{
    font-weight: 300;
   font-style: 300;
   font-size: 20px;
   margin-top: 0;
   margin-right: 30px;
   color: dodgerblue;
}
.sekcja2 h4:hover{
    text-decoration: underline;
    
}
.sekcja2 p{
    margin-top: 0;
}

.divt{
    display: flex;
    justify-content: center;
}
.divt:only-child{
    width: max-content;
    padding-right: 50px;
}
.sekcja3{
    
    background-image: url(hero_apple_watch_series_9_order__d0fi9mb84dci_largetall.jpg);
    height: 692px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 140% 692px;
    background-position-x: center;
}


.sekcja3 h3{
    font-weight: 300;
    font-style: 300;
    font-size: 25px;
    margin-top: 0;
    color:azure;
}
.sekcja3 h4{
    font-weight: 300;
   font-style: 300;
   font-size: 20px;
   margin-top: 0;
   margin-right: 30px;
   color: dodgerblue;
}
.sekcja3 h4:hover{
    text-decoration: underline;
    
}
.sekcja3 img{
    padding-top: 50px;
}
.divt{
    display: flex;
    justify-content: center;
}
.divt:only-child{
    width: max-content;
    padding-right: 50px;
}
#footer{
    background-color: lightgray;
    width: 50%;
    font-size: 10px;
    padding-left: 25%;
    padding-right: 25%;
    height: auto;
    color: gray;
}
.ad1{
    color: black;
}
